
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

/* Type */

h1, h2, #top-nav li a, #top-nav li a:link, #top-nav li a:visited, #chimera-attribution, #main blockquote, #flagship-banner p{
	font-family: Impact, Arial, Helvetica, sans-serif;	
	font-weight: normal;
}

p, label{
	line-height: 18px;	
}

a, a:active, a:visited{
	color: #006837;
}

a:hover{
	color: #028945;	
}

em{
	font-style:italic;	
}

#top-nav li a, #top-nav li a:link, #top-nav li a:visited{
	color: #39B54A;
	font-size: 20px;
	text-decoration: none;
}

#top-nav li a:hover, #top-nav li a:active,  #top-nav li a.selected{
	color: #8CC63F;
}

#main h1, #main h2{
	color: #1A1A1A;	
}

	#main .left-col h2{
		color: #006837;
	}
	#main .left-col blockquote{
		font-size: 23px;
		color: #39B54A;
	}
	
	#main .left-col blockquote .attribution{
		color: #8CC63F;	
	}

	#main .left-col blockquote:before{
		color: #8CC63F;
		font-size: 72px;
		font-family: Impact, Arial, Helvetica, sans-serif
	}
	
	#main .left-col table th{
		color: #ffffff;	
	}
	
	#main .left-col table td{
		color: #006837;	
	}

	#main .left-col article header p, #main .left-col h3{
		font-weight: bold;
		color: #39B54A;
	}

	#main .left-col form label, #main .left-col li{
		color: 	#006837;
	}


	#main h1, #main .right-col h2{
		font-size: 29px;
	}
	
	#main h2{
		font-size: 24px;
	}
	
	
	#main .right-col h2, #main .right-col h2 a, #main .right-col h3, #main .right-col h3 a, #main .right-col h4, #main .right-col h4 a{
		color: #ffffff;	
	}
	
	
	#main .right-col p a, #main .right-col p a:active, #main .right-col p a:visited, #main .right-col li a, #main .right-col li a:active, #main .right-col li a:visited, #main .right-col li{
		color: #D9E021;
	}
	
	#main .right-col p a:hover, #main .right-col li a:hover {
		color: #EDED26;
	}
	
	
	
	#main .right-col h2 a:hover{
		color: #EAEAEA;
	}
	
	
	#main .right-col p{
		color: #006837;	
	}
	


#flagship-banner p{
	font-size: 26px;
	line-height: 30px;
	color: #009245;
}

#footer{
	color: #006837;
	font-weight: bold;	
}

#chimera-attribution{
	color: #009245;
	font-size: 28px;	
}



/* Layout */

html,body{
	/*overflow-x: hidden;	*/
}

body{
	background: url(../images/bg-starfield.jpg) #000000 no-repeat top center;
	overflow-y: hidden;	
	overflow-x: hidden;
}

h1 a, h2 a, h3 a, h4 a{
	text-decoration: none;	
}

#call-to-action-btn:hover, #affiliate-links li a:hover, #logo a:hover{
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}


#container{
	position: relative;
	z-index: 2;	
}

#header, #top-nav, #space-graphic, #main, #secondary, #footer, #space-scene-container{
	width: 960px;
	margin: 0 auto;
}

#header, #top-nav, #space-graphic, #main, #secondary{
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,50);
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,50);
	box-shadow: 0px 0px 20px rgba(0,0,0,50);	
}

#main .mid-col{
	-moz-box-shadow: inset 0 0 40px rgba(0,0,0, 1);
	-webkit-box-shadow: inset 0 0 40px rgba(0,0,0, 1);	
	-box-shadow: inset 0 0 40px rgba(0,0,0, 1);	
}

#header-container, #header, #logo a, #mask{
	height: 169px;
}

#header-container{
	background: url(../images/bg-header.gif) repeat-y top center;

}
	
	#header{
		width: 960px;	
	}

	#logo, #mask-container, #supporting-graphic, #header-left, #header-right{
		float: left;	
	}

	#logo{
		background-color: #ffffff;	
	}

	#logo a{
		background-image: url(../images/logo.png);
		background-position: 20px 25px;
		
		width: 530px;
	}
	
	#mask{
		background-image: url(../images/mask-header.png);
		width: 176px;
		border-right: 29px solid #ffffff;
	}
	
	#supporting-graphic{
		background-image: url(../images/logo-banner.png);
		width: 239px;
		height: 279px;
		margin-left: -14px;
		margin-top: -2px;
		position: absolute;
		margin-left: 722px;
		z-index: 11;
	}
	
	.ie6 #supporting-graphic, .ie7 #supporting-graphic{
		margin-left: -13px;	
	}

#top-nav-container, #top-nav,  #top-nav ul, #top-nav li{
	height: 32px;
	
}

	#top-nav-container{
		clear: left;	
	}

	#top-nav ul{
		list-style: none;
		margin: 0px;	
		margin-left: 20px;
	}

	#top-nav li{
		display: block;	
		float: left;
		margin-right: 20px;
	}

	#top-nav li a{
		line-height: 32px;	
		padding: 10px 0px 10px 0px;
	}
	
#top-nav-container{
	background: #006633;
}

#space-graphic-container{
	height: 132px;	
	
}

#space-graphic, #space-graphic .event{
	margin-top: -10px;	
	height: 132px;
}

	#space-graphic{
		position: relative;
		z-index: 10;
		border-top: 10px solid #39B54A;
	border-bottom: 10px solid #39B54A;	
	}

#space-graphic-container{
	background: url(../images/bg-space-graphic-container.gif) repeat-y top center;	
	border-top: 10px solid #39B54A;
	border-bottom: 10px solid #39B54A;
}

	#space-graphic .event{
		background-image: url(../images/event-details.png);
		background-position: center left;
		width: 430px;
		margin-left: 10px;
		margin-top: 0px;
	}


#main-container{
	background: url(../images/bg-main-container.gif) repeat-y top center;
}
	#main{
		margin-top: -8px;	
	}
	
		#main hr{
			height: 1px;
			border: 0px;
			border-top: 1px dashed #006837;	
			clear: left;
		}
		
		#main li{
			margin-bottom: 10px;	
		}


	#main .left-col, #main .mid-col, #main .right-col{
		float: left;
		
	}	
	
	#main .left-col, #main .right-col{
		min-height: 450px	
	}
	
	#main .left-col, #main .mid-col, #main .right-col{
		padding-top: 13px;	
	}

	#main h1, #main h2, #main h3, #main h4, #main p, #main blockquote, #main table, #main form, #main ul, #main ol, #google-map, #main .right-col #image-rotation{
		margin: 20px;
	}

	#main .left-col{
		background: #ffffff;
		width: 576px;	
	}
	
	.ie6 #main .left-col{
		width: 575px;
	}
		
		#main .left-col blockquote{
			background: #E4EFD3;
			padding: 30px 40px 30px 40px;
			display: block;
		}
		
		#main .left-col blockquote .attribution:before{
			content: "\2014";
		}
		
		#main .left-col blockquote:before{
			content: "&quot;";
			display: block;	
			content: '\201C';
			height: 0;
			margin-left: -30px;
			margin-top: -35px;
			position: absolute;
		}
		
		#main .left-col hr{
			margin: 20px;	
		}
		
		#main .left-col ul, #main .left-col ol{
			margin-left: 35px;
			list-style:square;	
		}

		#main .left-col table th{
			text-align: left;
			background: #8CC63F;	

		}
		#main .left-col table tr{
			border-bottom: 1px dashed #8CC63F;
		}
		#main .left-col table td, #main .left-col table th{
			
			padding: 10px;
		}
		
		#main .left-col table tr{
			background: #E4EFD3;
		}
		
		#main .left-col table tr:nth-child(even){
			background: #D0D8C3;
		}
			
		
		#main .more-info:after{
			content: " \BB";
			font-weight: bold;
		}
		
		#main .left-col form fieldset{
			padding-top: 20px;	
		}
		
		.ie7 #main .left-col form fieldset{
			margin-top: 20px;	
		}
		
		#main .left-col form fieldset, #main .left-col article{
			border-top: 1px dashed #006837;
		}
		
		
		#main .left-col form fieldset:first-child, #main .left-col article:first-child{
			padding-top: 0px;	
		}
		
		#main .left-col form fieldset:first-child{
			border-top: 0px;	
		}
		
		#main .left-col article{
			margin: 20px;
		}
			#main .left-col article header p{
				margin-top: 0px;	
			}
		
			#main .left-col article header h2{
				margin-bottom: 0px;	
			}
		
			#main .left-col article p, #main .left-col article h2, #main .left-col article h3, #main .left-col article h4{
				margin-left: 0px;
				margin-right: 0px;
			}
		
		
	
		#main .left-col form{
			padding: 20px;	
			background: #E4EFD3;
		}
		
			#main .left-col form input, #main .left-col form select{
				height: 18px;
				width: 180px;
			}
			
			.ie7 #main .left-col form select{
				height: 25px;	
			}
			
			#main .left-col form input[type="checkbox"]{
				width: 15px;	
			}
			
			.ie7 #main .left-col form input{
				margin-right: 130px;
			}
			
			#main .left-col form .submit{
				height: 25px;
			}
		
			#main .left-col form p{
				margin-left: 0px;
				margin-right: 0px;	
				clear: left;
			}
			
			#main .left-col form label{
				width: 180px;	
				clear: left;
			}
			
			#main .left-col form label, #main .left-col form input, #main .left-col form select{
				float: left;	
				margin-bottom: 20px;
			}
			
			
			
			#main .left-col form .submit{
				clear: left;
				margin-left: 180px;
				width: 70px;
			}
			
			.ie7 #main .left-col form .submit{
				margin-left: 160px;	
			}
	
	#main .mid-col{
		width: 130px;
		border:solid #ffffff;
		border-width: 25px;
		border-left: 0px;
		min-height: 390px;
		margin-top: 8px;
		
	}
	
		#main #flagship-banner p, #main #flagship-banner h2, #main #flagship-banner h3, #main #flagship-banner h4{
			margin: 10px;	
		}
		
		
		
		#main #flagship-banner h2{
			margin: -20px 0px 0px -3px;
			background-image: url(../images/header-gordian-knot.png);
			width: 129px;
			height: 153px;
		}
	
		#call-to-action-btn{
			background-image: url(../images/btn-sign-up.png);
			width: 106px;
			height: 26px;
			margin-top: 20px;
		}
	
	
	
	#main .right-col{
		position: relative;
		z-index: 12;
		background: #39B54A;
		width: 229px;	
	}
	
		#main .right-col hr{
			border-top: 1px dashed #8CC63F;	
			height: 1px;
		}
	
		#main .right-col #image-rotation{
			border: 5px solid #8CC63F;
			margin-top: 10px;
		}
		
		#main .right-col ul, #main .right-col ol{
			list-style: square outside;
			margin-left: 35px;
			
		}
	
#secondary-container, #secondary, #affiliate-links, #affiliate-links li{
	height: 85px;	
}
	
#secondary-container, #secondary{
	background: #006633;
}


	#affiliate-links{
		margin: 0px;
		list-style: none;	
		position: relative;
		z-index: 20;
		-moz-box-shadow: 0px 3px 10px rgba(0,0,0,50);
		-webkit-box-shadow: 0px 3px 10px rgba(0,0,0,50);
		box-shadow: 0px 3px 10px rgba(0,0,0,50);		
	}
	
	#affiliate-links li{
		float: left;
		display: block;
		margin: 0px 0px 0px 18px;
	}
	
		#affiliate-links li a{
			background-position: left -8px;	
			height: 65px;
			margin-top: 11px;
			border-right: 1px solid #8CC63F;
			padding-right: 13px;
		}
	
		#logo-diatribe{
			background-image: url(../images/logo-diatribe.gif);
			width: 201px;
		}
		
		#logo-america{
			background-image: url(../images/logo-america.gif);
			width: 272px;
		}
		
		#affiliate-links li #logo-nzrag{
			background-image: url(../images/logo-nzrag.gif);
			width: 164px;
			border-right: 0px;
			padding-right: 0px;
		}
		
		#affiliate-links #logo-nzlarps-container{
			height: 175px;
			width: 229px;
			margin: 0px;
			margin-top: -8px;
			text-align: center;
			margin-left: 12px;
			background: url(../images/bg-sidebar-bottom.png) no-repeat -10px bottom;
		}
		
		.ie6 #affiliate-links #logo-nzlarps-container{
			width: 205px;
		}
			#chimera-attribution{
				margin-top: 15px;	
				display: block;
			}
		
			#affiliate-links li #logo-nzlarps{
				background-image: url(../images/logo-nzlarps.gif);
				background-position: 0px 0px;
				width: 187px;
				height: 35px;
				margin: 0px 0px 0px 20px;
				border-right: 0px;
			}
		
#footer-container{
	background: #8CC63F;
	
}
			
#copyright{
	margin-top: -60px;
	margin-left: 20px;
	height: 20px;
	float: left;
}

	.ie7 #copyright{
		margin-top: 20px;	
		height: 65px;
	}

#space-scene-container{
	width: 960px;
	margin: 0 25%;
	top: 0px;
	overflow: hidden;
}

	
	

#planet-large, #planet-med, #planet-small{
	position: fixed;
	z-index: 1;
	top: 0px;
}

.ie6 #planet-large, .ie6 #planet-med, .ie6 #planet-small{
	display: none;	
}

#planet-large{
	background-image: url(../images/bg-planet-large.png);	
	width: 1004px;
	height: 1006px;
	margin-left: -620px;
	margin-top: -362px;
}

#planet-med{
	background-image: url(../images/bg-planet-medium.png);	
	width: 526px;
	height: 526px;
	margin-left: 290px;
	margin-top: 285px;
}

#planet-small{
	background-image: url(../images/bg-planet-small.png);	
	width: 170px;
	height: 170px;
	margin-top: 70px;
	margin-left: 40%;
}













.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media screen and (max-device-width: 1024px) {
	/*fix for mobile safari to stop sidebar being cut off*/
	body{
		width: 960px;	
	}
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}