#right-col hr{
	background: none;
	height: 1px;
}

#left-col hr{
	width: 400px;
	height: 1px;
}

#left-col, #intro-image{
	display: relative;
	z-index: 10;
}

#navigation a#nav-home{
	background-image: url(../_img/nav-home.jpg);
}

#navigation a#nav-more-info{
	background-image: url(../_img/nav-more-info.jpg);
}

#navigation a#nav-register{
	background-image: url(../_img/nav-register.jpg);
}

#navigation a#nav-run-a-larp{
	background-image: url(../_img/nav-run-a-larp.jpg);
}

#navigation a#nav-the-larps{
	background-image: url(../_img/nav-the-larps.jpg);
}
#navigation a#nav-timetable{
	background-image: url(../_img/nav-timetable.jpg);
}

a#header-image{
	background: url(../_img/header.jpg) no-repeat;
}

#left-col blockquote{
	background: #d8c2a2 url(../_img/blockquote-bg.gif) no-repeat 0 5px;
}
						

img, div { behavior: url(iepngfix.htc) }

