input.groovybutton
{
   font-weight:bold;
   background-color:#7F654C;
   border-style:solid;
   border-color:#382F28;
   border-width:2px;
   color:#382F28;
}

.pageTitle
{
	font-family:"Palatino Linotype",Times New Roman,Times,serif;
	font-size:38px;
	color:white;
	margin-bottom:60px;
	text-transform:uppercase;
}

.bodyContainer
{
	margin-top:20px;
	margin-left:30px;
	margin-right:10px;
	font-family:"Palatino Linotype",Times New Roman,Times,serif;
}

.bodyText
{
	margin-top:16px;
	font-family:"Palatino Linotype",Times New Roman,Times,serif;
	font-weight:bold;
	font-size:14px;
	color:#7F654C;
}

.bodyTitle
{
	font-size:22px;
	font-weight:bold;
	color:#382F28;
	text-transform:uppercase;
}

.byLine
{
	font-weight:bold;
	font-size:12px;
	color:#7F654C;
	text-transform:uppercase;
}

.divider
{
	margin-top:16px;
	margin-bottom:16px;
}

.sideCell
{
	background-color:#EBE4CC;
	background-image:url('images/parchment_inner.jpg');
	background-repeat:no-repeat;
	background-position:0 -1;
}

.sideContainer
{
	margin-top:36px;
	margin-left:43px;
	margin-right:67px;
	font-family:"Palatino Linotype",Times New Roman,Times,serif;
}

.sideTitle
{
	font-size:16px;
	font-weight:bold;
	color:#382F28;
	text-transform:uppercase;
}

.sideSubTitle
{
	font-size:16px;
	font-weight:bold;
	color:#382F28
}

.sideText
{
	margin-top:10px;
	font-weight:bold;
	font-size:14px;
	color:#7F654C;
}

a
{
	color:#382F28;
	text-decoration:none;
}

a:hover 
{ 
	text-decoration:underline 
}

ul
{
	font-size:10pt; 
	font-family:"Trebuchet MS", arial, helvetica, sans-serif; 
	color:#382F28; 
	list-style-image:url(images/bullet.gif);
	list-style-position:outside;
	margin-top:20px;
}

ol
{
	font-size:10pt; 
	font-family:"Trebuchet MS", arial, helvetica, sans-serif; 
	color:#382F28; 
	list-style-position:outside;
	margin-top:0px;
}

li
{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
}

th
{
	font-size:10pt; 
	font-family:"Trebuchet MS", arial, helvetica, sans-serif; 
	color:#382F28; 
	font-weight:bold;
	text-align:left;
}

td
{
	font-size:10pt; 
	font-family:"Trebuchet MS", arial, helvetica, sans-serif; 
	color: #382F28; 
	text-align:left;
}

tr.selected
{
	background-color: #d8c2a2;
}

.poem
{
	margin-top:10px;font-weight:bold;font-size:13px;font-style:italic;color:#7F654C
}
