/* css based on Zen Garden submission 142 - 'Invasion of the Body Switchers' by Andy Clarke, http://www.stuffandnonsense.co.uk/ */
 
 * {
 margin : 0;
 padding : 0;
 }
 
 body    {
 font : 75% "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
 background : #000 url(body-bg.jpg) repeat-y top center;
 color : #fff;
 font-variant : small-caps;
 text-align : center; /* That Explorer Malarkey */
 }
 
 h1, h2, h3, p, ul {
 padding : 0.5em 0;
 }
 
 /* hx */
 
 h3 { padding : 0; text-indent : -3000px; }
 
 div#preamble h3 { 
 width : 195px;
 height : 140px;
 background : url(preamble-h3.gif) no-repeat left bottom; 
 }
 
 div#bodyText h3 {
 float : left; 
 width : 210px;
 height : 135px;
 margin-right : 10px;
 background : url(explanation-h3.gif) no-repeat; 
 }
 
 div#lresources h3 {
 width : 90px;
 height : 20px; 
 background : url(lresources-h3.gif) no-repeat;
 }
 
 /* p */
 
 p  {
 font-size : 100%;
 line-height : 110%;
 }
 
 div#preamble p.p1, div#preamble p.p2 { display : none; }
 
 div#preamble p.p3 {
 width : 220px; 
 font-size : 120%;
 }
 
 div#bodyText p.p1 { 
 /*margin-left : 230px;*/
 line-height : 110%;
 font-size : 170%;
 }
 
 div#bodyText p.p2 { 
 /*margin-left : 230px;*/
 line-height : 110%;
 font-variant : normal;
 font-size : 100%;
 }
 
 div#bodyText td { 
 /*margin-left : 230px;*/
 line-height : 110%;
 font-variant : normal;
 font-size : 75%;
 }

 div#bodyText td.tabletexttitle {
 padding: 3px;
 vertical-align: top;
 }

 div#bodyText td.tabletexttitlemarked {
 padding: 3px;
 vertical-align: top;
 color:rgb(180,255,180);
 }

 div#bodyText td.tabletext {
 padding: 3px;	
 }
 
 abbr, acronym {
 text-decoration : none;
 border-bottom : 1px dotted #ccc;
 cursor : help;
 }
 
 .accesskey {
 text-decoration: underline;
 }
 
 /* anchors, yo ho me hearties */
 
 a:link, a:visited {
 color : #fdf4b3;
 text-decoration : none;
 }
 
 div#lselect a:link, div#lselect a:visited { 
 display : block;
 font-variant : small-caps;
 }
 
 div#lselect a:link.c, div#lselect a:visited.c { 
 display : inline;
 font-size : 190%;
 letter-spacing : -1px;
 color : #fdf4b3;
 }
 
 div#footer a:link, div#footer a:visited { 
 padding : 0px 4px;
 font-size : 90%;
 background : #666;
 border : 1px solid #999;
 color : #ccc;
 text-decoration : none;
 }
 
 div#footer a:hover { 
 background : #555;
 color : #ccc;
 text-decoration : none;
 }
 
 a:hover {
 color : #fff;
 text-decoration : underline;
 }
 
 /* ul */
 
 ul {
 list-style-type : disc;
 padding : 0.5em 10px;
 }
 
 div#linkList ul {
 margin-top : 20px;
 padding-left : 10px;
 }
 
 li { 
 list-style-type : none; 
 line-height : 200%;
 }
 
 div#lselect li {
 padding-bottom : 10px;
 font-variant : normal;
 text-align : right;
 line-height : 16px;
 }
 
 /* layout */
 
 div#container {
 position : relative;
 width : 750px;
 margin : 0 auto;
 text-align : left;
 background : url(container-bg.jpg) no-repeat 0 51px;
 border-bottom : 5px solid #fdf4b3;
 }
 
 div#containerSmall {
 position : relative;
 width : 750px;
 /* height: 100%; */
 margin : 0 auto;
 text-align : left;
 background : url(container-bg-small.jpg) no-repeat 0 51px;
 /* border-bottom : 5px solid #fdf4b3; */
 }
 
 div#pageHeader {
 width : 750px;
 height : 50px;
 background : url(header-bg.jpg) no-repeat;
 border-bottom : 1px solid #fdf4b3;
 }
 
 #preamble {
 margin : 0 50px 0 470px;
 }
 
 #bodyText {
 margin : 0 50px 0 380px;
 }
 
 div#preamble {
 margin-top : 170px;
 }
 
 div#homeSupportingText {
 margin-top : 140px;
 margin-bottom : 50px;
 }
 
 div#innerSupportingText {
 margin-top : 100px;
 margin-bottom : 50px;
 }
 
 div#bodyText {
 margin : 40px 40px 0 250px;
 }
 
 div#footer {
 margin-top : 20px;
 padding : 20px 0;
 /* background : url(footer-bg.gif) no-repeat top center; */
 text-align : center;
 }
 
 div#linkList {
 position : absolute;
 top : 70px;
 left : 0px;
 width : 200px;
 }
 
 div#larchives {
 padding : 60px 0 0 20px;
 }
 
 div#lresourcesHome {
 padding : 150px 0 0 20px;
 }
 
 div#lresourcesInner {
 padding : 0px 0 0 20px;
 }
 
 #extraDiv1, #extraDiv2, #extraDiv3, #extraDiv4, #extraDiv1, #extraDiv5 {
 display : none;
 }