.footer {
	text-align: center;
	background: $sky url(#{$file-path}/images/footer_background.jpg) repeat-x;
	width: 100%;

	@include respond(desktop) {
		min-height: 160px;
	}

	.footer-banner {
		margin-top: 20px;
		margin-bottom: 10px;
		width: 606px;
	}

	.footer-bannerlink {
		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}
	p {
		color: #fff;
		font-size: 14px;
		line-height: 2.5em;
		font-weight: 700;
	}
	a {
		color: #fff;
		text-decoration: underline;
	}

	.navbar {
		@include clearfix();
		min-height: 25px;
		padding: 0 20px;
		margin: 0;
		border-top: 3px solid $oxygen;
		background: $sky;
		font-family: $header-font-family;

		ul {
			clear:both;
			float:left;
			margin-left:-15px;
			a {
				color: #fff;
				font-size: 0.9em;
			}
		}
		> a {
			font-size: 1.3em;
			&:hover, &:focus {
				color: rgba(#fff, 0.7);
			}
		}
	}
}
