
.header {
	background: $night url(#{$file-path}/images/header_background.jpg) repeat-x;
	height: 200px;
	z-index: 3;
	position: relative;

	@include respond(portrait-phones) {
		height: 110px;
	}
	@include respond(landscape-phones) {
		height: 150px;
	}

	.logo {
		display: block;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center bottom;
		width: 100%;
		height: 100%;

		@include respond(desktop) {
			background-size: auto 100%;
		}
	}

	h1 {
		padding-top: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
	.row{
		position: relative;
	}
	+ .navbar{
		margin-top: 0;
		position: relative;
	}
	.brand-group {
		height: 200px;
		overflow: hidden; //todo
		@include respond(portrait-phones) {
			height: 100px;
		}

		@include respond(landscape-phones) {
			height: 140px;
		}
	}
	.image {
		display: block;
		width: 100%;
		text-align: center;
	}
	img {
		max-height: 200px;
	}
}

.login-row {
	> .columns {
		height: 10px;
		@include respond(document-width) {
			height: 0px;
		}
	}
}
