
.navbar {
	z-index: 3;
	border-top: 1px solid $oxygen;
	border-bottom: 1px solid $oxygen;

	ul {
		@include respond(desktop) {
			padding-left: 80px;
		}
		@include respond(document-width) {
			padding-left: 30px;
		}
		@include respond(large-desktop) {
			padding-left: 0;
		}
	}
	ul li {
		display: inline-block;
		height: auto;
		float: left;

		@include respond(mobile) {
			min-height: 0;
		}

		@include respond(document-width) {
			&:nth-child(2) {
				margin-left: -30px;
			}
		}

		> a {
			position: relative;
			opacity: 0.6;
			padding: 0 5px;
			font-weight: bold;
			font-size: 1.4rem;

			&::first-letter {
				font-size: 2.8rem;
			}

			@include respond(mobile) {
				height: auto;
				line-height: 2em;
			}

			&:hover,
			&:focus,
			&.current,
			&.section  {
				opacity: 1;
				color: #fff;
				text-shadow: 0px 0px 20px rgba(255,255,255,0.5)
			}

			&.is-icon {

				@include respond(desktop) {
					width: 62.3281px;
					font-size: 1.5em;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 5;
					height: 100%;
					background-color: saturate(lighten($navbar-color, 7%), 17%);

					&:after {
						content: "";
						width: 0;
						height: 0;
						border-top: 29px solid transparent;
						border-bottom: 30px solid transparent;
						border-left: 18px solid saturate(lighten($navbar-color, 7%), 17%);
						position: absolute;
						left: 62px;
					}
				}
			}

			&.has-border {
				@include respond(desktop) {
					margin: 3px 18px 0;
					padding-top: 3px;
					height: 52px;
					line-height: 49px;
					position: relative;

					&:after {
						content: "";
						background: url(#{$file-path}/images/nav.png) repeat-x right top;
						background-size: 85px;
						position: absolute;
						right: 5px;
						width: 100%;
						height: 100%;
						opacity: 0.4;
					}

					&:hover,
					&:focus,
					&.current,
					&.section  {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	@include respond(desktop) {
		ul li {
			// variation in background image position

			&:nth-child(2),
			&:last-child {
				> a.has-border:after {
					right: -5px;
				}
			}
			&:nth-child(odd) {
				> a.has-border:after {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					transform: rotate(180deg);
					background-position: bottom right;
					background-size: 90px;
					right: 0;
				}
			}
		}
	}

	a.toggle {
		line-height: 37px;
		height: 48px;
		@include respond(all-phones) {
			display: inline-block;
		}
	}
}
