$pref-bg: rgba(mix(#fff, $global-bg-color, 20%), 0.2);

$pref-bg-hover: rgba(mix(#fff, $night, 40%), 0.2);

.js .preference-select {
	// copes with 5 preferences maximum

	.preference-group .field {
		font-size: 1.1em;
		transition: 0.3s;
		position: relative;
		float: left;
		cursor: move;
		background: $pref-bg;
		border: 0px solid $pref-bg;
		border-left-width: 19px;
		color: #fff;
		margin: 0;
		margin-bottom: 1px;
		padding: 5px 50px 5px 40px;
		min-width: 150px;
	

		@include respond(all-phones) {
			border-left-width: 5px;
		}
		&.favourite .icon-heart {
			color: $exploration;
		}
		&:first-child {
			.icon-up {
				display: none;
			}
			.icon-heart {
				display: block;
			}
			&.isfinal{
				.icon-heart {
					display: none;
				}
			}
		}
		&:hover, &:focus {
			transition: 0.3s;
			background: $pref-bg-hover;
			border-color: $default-color;
			color: #fff;
			.icon {
				color: $earth;
			}
			&.favourite .icon-heart {
				color: $exploration;
			}
			&:before {
				transition: 0.3s;
				background: $default-color;
				color: #fff;
			}
			&:after {
				transition: 0.3s;
				color: #fff;
				opacity: 1;
			}
		}
		&:before {
			box-sizing: border-box;
			display: block;
			padding: 5px 10px;
			background-color: lighten($pref-bg, 10%);
			height: 100%;
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			width: 30px;
			color: #fff;
			font-weight: normal;
		}
		&:after {
			@include rotate(-45deg);
			content: "\e744";
			font-family: "#{$icons}";
			color: darken($default-color, 5%);
			position:absolute;
			text-decoration:none;
			zoom: 1;
			left: -17px;
			top: 5px;
			opacity:0.5;
			@include respond(all-phones) {
				content: "";
			}
		}
		.icon {
			position: absolute;
			right: 5px;
			top: 5px;
			padding-left: 22px;
			color: rgba($earth, 0.5);

			&:hover {
				color: lighten($earth, 3%);
				cursor: pointer;
			}
		}
		.icon-heart {
			display: none;
			color: rgba($exploration, 0.4);
		}
		.extra {
			text-overflow: ellipsis;
			font-style: normal;
			color: #fff;
		}
	}

	@for $i from 1 through 5 {
		.preference-#{$i} {
			@for $j from 1 through $i {
				//our selected options (defaults above)
				.field:nth-of-type(#{$j}) {
					border-color: $default-color;

					.extra {
						text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
					}
					.icon {
						text-shadow: none;
					}

					&:before {
						content: "#{$j}";
					}
					&:hover,
					&:focus {
						border-color: $default-color;

					}
					&:after {
						color: #fff;
					}
				}
				// if follows after isfinal, style as unselected
				.isfinal ~ .field:nth-of-type(#{$j}) {
					border-color: rgba(#fff,0.1);
					&:hover,
					&:focus {
						border-color: $default-color;
					}
					&:before {
						content: "";
					}
					&:after {
						color: darken($default-color, 5%);
					}
					.extra {
						text-shadow: none;
					}
				}
			}
		}
	}
}

.preference-table {
	font-size: 1em;

	p {
		font-size: 1em;
	}

	.icon-heart {
		color: $exploration;
	}
	.icon-check {
		color: $earth;
	}

	.num {
		font-size: 0.8em;
		opacity: 0.7;
	}
}
