#intro-image{
	display: none;
}

#right-col-inner img{
	display: none;
}

#sponsors {
	display: none;
}

#banner-ad{
	display: none;
}

#navigation{
	display: none;
}

#home #left-col blockquote{
	display: none;
}