/*  -- AUTHOR: MICHAEL ANDREW (michael@hazardmedia.co.nz) -----------------------------------------------------------  */
/*  -- MEDIUM: SCREEN -------------------------------------------------------------------------  */
	
/*  -- GENERAL --------------------------------------------------------------------------------  */

	html[xmlns] .clearfix {
		display: block;
	}
	 
	* html .clearfix {
		height: 1%;
	}
	
	body{
		background: #000;
		margin: 0px;
		padding: 0px;
	}
	
	a{
	  outline: none;
	}
	
	img{
		border:none;
	}
	
	hr{
		width: auto;
		border: none;
		margin-bottom: 15px;
		height:21px;
	}	
	
	#container {
		width: auto;
	}
	

		#header-container {
			width: auto;
			height: 160px;
			overflow: hidden;
			background: url(../_img/header_background.jpg);
		}
			#header{
				width: 1000px;
				height: 160px;
				margin: 0 auto;
			}
			
				a#header-image{
					background: url(../_img/header.png) no-repeat;
					padding-top: 160px;
					width: 1000px;
					height: 160px;
					overflow: hidden;
					display: block;
				}
				
				#header h1{
					overflow: hidden;
					display: block;
					height: 160px;
					line-height: 160px;
					margin: 0px;
				}
				
	
		#navigation-container{
			width: auto;
			background: url(../_img/menu_background.jpg);
			height: 60px;
		}
			
			#navigation{
				width: 791px;
				margin: 0 auto;
				height: 57px;
			}
			
				#navigation ul{
					width: 791px;
					margin: 0px;
					padding: 0px;
					text-align: center;
					height: 57px;
				}
			
					#navigation li{
						display: inline;
						text-align: center;
					}
			
						#navigation li a {
							width: 130px;
							height: 0 !important;
							padding-top: 57px;
							overflow: hidden;
							display: block;
							float: left;
						}
				
						#navigation li a:hover{
							background-position: 0 -57px;
						}	
				
						#navigation li a:active, #navigation li.current_page_item a{
							background-position: 0 -57px;
						}	
						
						#navigation a#nav-home{
							background-image: url(../_img/nav-home.png);
						}
						
						#navigation a#nav-more-info{
							background-image: url(../_img/nav-more-info.png);
						}
						
						#navigation a#nav-register{
							background-image: url(../_img/nav-register.png);
						}
						
						#navigation a#nav-run-a-larp{
							background-image: url(../_img/nav-run-a-larp.png);
						}
						
						#navigation a#nav-the-larps{
							background-image: url(../_img/nav-the-larps.png);
						}
						#navigation a#nav-timetable{
							background-image: url(../_img/nav-timetable.png);
						}
						

			
			

		#main {
			
			width: auto;
		}
		
			#home #main{
				background: #ebe4cc url(../_img/background_content_top.jpg) repeat-x;
				padding-top: 222px;	
			}
		
			#other #main{
				background: #ebe4cc url(../_img/background_content-alt_top.jpg) repeat-x;
				padding-top: 110px;	
			}
		
			#content-container{
				/*width: 1020px;*/
				margin: 0 auto;
				width: 1000px;
			}
			
			#content-container:after {
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
		
				#content{
					width: 960px;
					margin: 0 auto;
					background: #ebe4cc;
				}		
				
				#content:after {
						content: ".";
						display: block;
						clear: both;
						visibility: hidden;
						line-height: 0;
						height: 0;
					}
				
					
					
					#left-col{
						float: left;	
						width: 535px;
						
						margin-right: 70px;
					}
					
					#home #left-col{
						margin-top: -200px;
					}
					
					#other #left-col{
						margin-top: -90px;
					}
					
						#other #left-col h2{
							margin-bottom: 60px;
						}
						
						#left-col #registration-form{
							height: 520px;
						}
						
						#left-col form{
							background: #d8c2a2;
							padding: 20px;
							display: block;
						}
					
						#left-col form label{
							width: 180px;
							float: left;
							clear: left;
						}
						
						#left-col form input, #left-col form select{
							float: left;
							margin-bottom: 10px;
						}
						
						#left-col form .sumbit-btn{
							clear: both;
							margin-left: 180px;
						}
						
						#left-col form hr{
							clear: both;
						}
					
						#left-col hr{
							background: url(../_img/divider_horizontal_long.png) center center no-repeat;
							width: 471px;
						}
						
						#left-col h2{
							margin-bottom: 0px;
							margin-top: 20px;
						}
					
						#left-col h3{
							margin-top: 0px;
							margin-bottom: 20px;
						}
					
							#left-col h3 a{
								text-decoration: none;
								color: #cc9966;
							}

							#left-col h3 a:hover{
								text-decoration: underline;
							}
							
						#intro-image{
							margin-left: -5px;
						}
						
						#left-col blockquote{
							width: auto;
							padding: 30px;
							background: #d8c2a2 url(../_img/blockquote-bg.png) no-repeat 0 5px;
							margin: 0px;
						}
						
						#left-col blockquote attr:before{
							content:"\2014\a0";
						}
						
						#left-col blockquote attr{
							clear: left;
							display: block;
							width: auto;
							margin-top: -30px;
							behavior:expression(!this.before ? this.before = this.innerHTML = '<span style="color: #FFF;">&mdash;&nbsp;</span>' + this.innerHTML : '');
						}
						
					
					#right-col{
						float: left;
						width: 300px;
						background: #ebe4cc;
						padding: 15px;
						
					}
						#home #right-col{
							margin-top: -200px;
						}

						#other #right-col{
							margin-top: -90px;
						}
					
						#right-col hr{
							background: url(../_img/divider_horizontal_short.png) center center no-repeat;
							width: 250px;
						}
						
						#right-col-inner{
							border: 1px solid #c8c2ab;
							background: #ebe4cc;
							padding: 20px;
							position: relative;
							z-index: 10;
						}
						
						#right-col h2{
							margin-top: 0px;
							margin-bottom: 10px;
						}
						
						#right-col h3 a{
							text-decoration: none;
							color: #cc9966;
						}
							#right-col h3 a:hover{
								text-decoration: underline;
							}
						
												
					#mid-bar{
						width: 1000px;
						height: 80px;
						float: left;
						clear: left;
						margin-top: 30px;
					}
					 	#sponsors{
							width: 1000px;
							margin: 0px;
							padding: 0px;
						}
					 		#sponsors li{
								display: inline;
								float: left;
								line-height: 80px;
								margin-right: 19px;
								padding-left: 19px;
								border-left: 1px solid #c8c2ab;
								height: 60px;
							}
						
							#sponsors li:first-child{
								padding-left: 0px;
								border-left: none;	
							}
							#sponsors img:hover{
								filter:alpha(opacity=70);
								-moz-opacity:0.70;
								-khtml-opacity: 0.70;
								opacity: 0.70;
							}
						
							#sponsor-nzrag img{
								margin-top: -15px;
							}
							
							#sponsor-america img{
								margin-top: -175px;
							}
					
		#footer-container{
			clear: both;
			background: url(../_img/footer_background.jpg) repeat-x;
			height: 203px;
			overflow: hidden;
			text-align: center;
		}
		
			#banner-ad{
				margin-left: -25px;
			}
			
			#banner-ad:hover{
				filter:alpha(opacity=90);
				-moz-opacity:0.90;
				-khtml-opacity: 0.90;
				opacity: 0.90;
			}
		
		#copyright{
			height: 60px;
		}
			#copyright p{
				width: 1000px;
				margin: 0 auto;
			}
	

/* TYPE FORMATTING */

	body{
		font-family: georgia, "times new roman", serif;	
		font-size: 14px;
		color: #663300;
	}
	
	h2{
		font-size: 28px;	
		font-family: georgia, "times new roman", serif;
		text-transform: none;
	}
	
	h3{
		font-size: 18px;
	}
	
	h4{
		font-size: 14px;	
		font-weight: bold;
		margin-top: -14px;
	}
	
	h5{
		font-weight: bold;
	}
	
	p{
		line-height: 22px;
	}

	p.character{
		margin-top: 0px;
		margin-bottom: 0.4em;
	}

	p.character_taken{
		margin-top: 0px;
		margin-bottom: 0.4em;
		text-decoration: line-through	;
	}

	em{
		font-style: italic;	
	}
	
	strong{
		font-weight: bold;
	}

	h1, h3{
		font-family: georgia, "times new roman", serif;
		text-transform: none;
		
	}
	#navigation a{
		font-family: georgia, "times new roman", serif;
		text-transform: uppercase;
	}
	
	#navigation li a{
		font-size: 23px;
		text-decoration: none;
		line-height: 46px;
		text-align: center;
	}
	
	blockquote{
		font-family:  georgia, "times new roman", serif;
		font-size: 14px;
		color: #4f443c;
		text-align: left;
		line-height: 30px;
	}
	
	#left-col blockquote attr{
		text-align: right;
		font-size: 12px;
		font-style: italic;
		font-weight: bold;
		color: #a89271;
	}
	
	/*blockquote { quotes: "\201C" "\201D"; }
	blockquote:before { content: open-quote; font-weight: bold; font-size: 30px; }
	blockquote:after { content: close-quote; font-weight: bold;  font-size: 30px; } */
	
	#navigation a{
		color: #330000;
	}
	
	#copyright p{
		font-size: 12px;
		font-weight: bold;
		font-family: helvetica, arial, sans-serif;
	}
	
	#copyright a, #other #left-col h2, #copyright p{
		color: #ebe4cc;
		text-shadow: 0em 0em 0.4em black;		
	}
	#copyright a:hover{
		text-decoration: none;
	}

	h1, h2{
		color: #663300;
	}
	
	h3{
		color: #cc9966;
	}
	
	a{
		color: #000;
		font-weight: bold;
	}
	
	a:hover, a:visited{
		color: #663300;
	}
	
	h1{
		font-size: 48px;
	}	
	
	li{
			margin-bottom: 10px;
		}


/* Home page
---------------------------------------------------------------------------------------------- */





/* TYPE */


 /* Events page
---------------------------------------------------------------------------------------------- */
